<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}\logs" />
    <variable name="normalAuthServerLog" value="authServer-${level}.wcelllog" />
    <variable name="archiveAuthServerLog" value="authServer-${level}-{#####}.wcelllog" />
    <targets>
      <target name="console" type="AsyncWrapper">
        <target type="ColoredConsole" layout="(${processtime}) [${level}] ${message} ${exception:format=tostring}" />
      </target>
      <target name="file" type="AsyncWrapper">
        <target type="File" fileName="${logDirectory}\${normalAuthServerLog}" encoding="utf-8" archiveEvery="ArchiveEveryMode.Day" archiveFileName="${logDirectory}\${archiveAuthServerLog}" archiveNumbering="ArchiveNumberingMode.Rolling" maxArchiveFiles="10000" layout="(${longdate}) [${logger}] [${level}] ${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="console,file" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
